Options +FollowSymLinks
RewriteEngine on
RewriteBase /smarttraining/

RewriteRule ^auth/? ?p=auth




RewriteRule ^profilpeserta/? ?p=profilpeserta
RewriteRule ^kurikulumpeserta/? ?p=kurikulumpeserta
RewriteRule ^modulbelajar/? ?p=modulbelajar
RewriteRule ^soalpeserta/? ?p=soalpeserta
RewriteRule ^assesmentpeserta/? ?p=assesmentpeserta



RewriteRule ^home/? ?p=home
RewriteRule ^matalatihan/? ?p=matalatihan
RewriteRule ^elementkompetensi/? ?p=elementkompetensi
RewriteRule ^kriteriaunitkerja/? ?p=kriteriaunitkerja
RewriteRule ^indikatorunitkerja/? ?p=indikatorunitkerja
RewriteRule ^pbk/? ?p=pbk
RewriteRule ^kurikulum/? ?p=kurikulum
RewriteRule ^administrasi/? ?p=administrasi
RewriteRule ^kelolauser/? ?p=kelolauser
RewriteRule ^tambahsoal/? ?p=tambahsoal
RewriteRule ^daftarsoaliuk/? ?p=daftarsoaliuk
RewriteRule ^daftarsoalkuk/? ?p=daftarsoalkuk
RewriteRule ^daftarsoaldetail/? ?p=daftarsoaldetail
RewriteRule ^daftarsoal/? ?p=daftarsoal






RewriteRule ^bukakelas/? ?p=bukakelas
RewriteRule ^kepelatihan/? ?p=kepelatihan
RewriteRule ^profilpelatih/? ?p=profilpelatih
RewriteRule ^penilaian/? ?p=penilaian



RewriteRule ^pendaftaran/? ?p=pendaftaran
RewriteRule ^testpendaftaran/? ?p=testpendaftaran




RewriteRule ^tambahsoal/? ?p=tambahsoal
RewriteRule ^daftarsoal/? ?p=daftarsoal


RewriteRule ^profiltu/? ?p=profiltu
RewriteRule ^administrasi/? ?p=administrasi
